.admin-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #343a40;
    font-family: 'Roboto', sans-serif;

    h2 {
        color: white;
        margin-bottom: 20px;
        font-size: large;
    }

    .search-bar {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 200px;
        }

        button {
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    .appointments-container {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 800px;
        font-size: medium;
      
        .cards-container {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      
        .card {
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: 16px;
          display: flex;
          flex-direction: column;
          gap: 8px;
      
          &-left {
            display: flex;
            justify-content: space-between;            
          }
      
          &-center {
            div {
              margin-bottom: 4px;
            }
          }
      
          &-right {
            display: flex;
            justify-content: flex-end;
            gap: 2px;
          }
      
          .edit-btn,
          .view-btn,
          .delete-btn {
            padding: 8px 12px;
            font-size: 14px;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
      
          .edit-btn {
            background-color: #ffc107;
      
            &:hover {
              background-color: #e0a800;
            }
          }
      
          .view-btn {
            background-color: #28a745;
      
            &:hover {
              background-color: #218838;
            }
          }
      
          .delete-btn {
            background-color: #dc3545;
      
            &:hover {
              background-color: #c82333;
            }
          }
        }
      }
        .new-appointment-btn {
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

